*.cachefile
*.cache
*.suo
*.user
*.nupkg
/Documentation
/Myre/ContentBuilderGame/ContentBuilderGame/bin
/Myre/ContentBuilderGame/ContentBuilderGame/obj
/Myre/ContentBuilderGame/ContentBuilderGameContent/bin
/Myre/ContentBuilderGame/ContentBuilderGameContent/obj
/Myre/Myre/obj
/Myre/Myre/bin
/Myre/Myre.Debugging/obj
/Myre/Myre.Debugging/bin
/Myre/Myre.Debugging.UI/obj
/Myre/Myre.Debugging.UI/bin
/Myre/Myre.Entities/obj
/Myre/Myre.Entities/bin
/Myre/Myre.Graphics/obj
/Myre/Myre.Graphics/bin
/Myre/Myre.Graphics.Pipeline/obj
/Myre/Myre.Graphics.Pipeline/bin
/Myre/Myre.Graphics.Content/obj
/Myre/Myre.Graphics.Content/bin
/Myre/Myre.Physics2D/obj
/Myre/Myre.Physics2D/bin
/Myre/Myre.StateManagement/obj
/Myre/Myre.StateManagement/bin
/Myre/Myre.UI/obj
/Myre/Myre.UI/bin
/Myre/Myre.Serialisation/bin
/Myre/Myre.Serialisation/obj
/Testing/Myre.Serialisation.Tests/bin
/Testing/Myre.Serialisation.Tests/obj
/Testing/DebugContentPipeline/bin
/Testing/DebugContentPipeline/obj
/Testing/GraphicsTests/obj
/Testing/GraphicsTests/bin
/Testing/GraphicsTests.ContentShim/obj
/Testing/GraphicsTests.ContentShim/bin
/Testing/GraphicsTestsContent/obj
/Testing/GraphicsTestsContent/bin
/Testing/Myre.Entities.Tests/bin
/Testing/Myre.Entities.Tests/obj
/Testing/TestResults
/Testing/Myre.Tests/bin
/Testing/Myre.Tests/obj
_Resharper.*