*.cachefile
*.suo
*.user
/Documentation
/Myre/Myre/obj
/Myre/Myre/bin
/Myre/Myre.Debugging/obj
/Myre/Myre.Debugging/bin
/Myre/Myre.Debugging.UI/obj
/Myre/Myre.Debugging.UI/bin
/Myre/Myre.Entities/obj
/Myre/Myre.Entities/bin
/Myre/Myre.Graphics/obj
/Myre/Myre.Graphics/bin
/Myre/Myre.Graphics.Pipeline/obj
/Myre/Myre.Graphics.Pipeline/bin
/Myre/Myre.Graphics.Content/obj
/Myre/Myre.Graphics.Content/bin
/Myre/Myre.Physics2D/obj
/Myre/Myre.Physics2D/bin
/Myre/Myre.StateManagement/obj
/Myre/Myre.StateManagement/bin
/Myre/Myre.UI/obj
/Myre/Myre.UI/bin
/Myre/Myre.Serialisation/bin
/Myre/Myre.Serialisation/obj
/Testing/Myre.Serialisation.Tests/bin
/Testing/Myre.Serialisation.Tests/obj
/Testing/GraphicsTests/GraphicsTests/obj
/Testing/GraphicsTests/GraphicsTests/bin
/Testing/GraphicsTests/GraphicsTestsContent/obj
/Testing/GraphicsTests/GraphicsTestsContent/bin
/Testing/Myre.Entities.Tests/bin
/Testing/Myre.Entities.Tests/obj
/Testing/TestResults
_Resharper.*